body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(163, 214, 216);
}


h2{
    text-align: center;
}

#chart_div{
    border: 1px solid pink;
    border-radius: 5px;
    width: 1800px;
    height: 700px;
        
    /* centrar el contenedor del gráfico */
    margin: auto;
    width: 50%;
}

.date{
    text-align: right;
}
.footer {
    margin-top: auto;
    padding: 0 0 0 20px;
    background-color: aquamarine;
}

